Flask==2.2.3
Flask-RESTful
Flask-SQLAlchemy
Jinja2
Flask-JWT-Extended==4.5.2
SQLAlchemy
pymysql
Werkzeug==2.3.7
python-dotenv
marshmallow
Flask-Bcrypt
redis
celery
requests
newrelic
atatus[flask]
sib-api-v3-sdk